@import url('//fonts.googleapis.com/?family=Lato:300');

body {
	background: #2c3e50;
	font-family: Lato, "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 300;
	color: #fff;
	text-align: center;
	font-size: 1.4em;
}

.key {
	width: 80%;
	max-width: 500px;
	min-width: 300px;
	padding: 5px;
	font-size: 1.4em;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
}

.lookup button {
	display: block;
	margin: 35px auto;
	background: rgba(255,255,255,1);
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: 2px solid rgba(0,0,0,.3);
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
	padding: 5px;
	font-size: 1.4em;
	min-width: 100px;
	text-align: center;
	cursor: pointer;
}

.content {
    max-width: 400px;
    margin: 20px auto;
}
